html,
body {
  height: 100%;
}

body {
  overflow-x: auto;
}

.app-shell {
  width: 1440px;
  margin: 0 auto;
  padding: 0 32px;
}

.page {
  padding: 32px 0;
}

.summary-sticky {
  position: sticky;
  top: 24px;
}

.right-col {
  align-self: flex-start;
}
